:root{
    --color-main: rgb(211, 239, 255) ;
    --collor-accent: rgb(143, 209, 159);
    --color-secondary: grey;
    --color-tertiary: rgb(54, 54, 54);

    --fade-in-duration: 500ms;
}

body{
    margin: 0;
}

main{
    background-color: var(--color-main);
}

h1 {
    font-size: 10em;
    margin: 0;
}

p{
    font-family: 'Roboto Flex', sans-serif;
}

* {
    overflow-x: hidden;
    /*this makes sure anything that extends
    the website in a horizontal direction,
    doesn't*/
}

.hero-text{
    color:white;
    text-shadow: 2px 2px 2px rgba(155, 79, 17, 0.8);
    font-family: 'Forum', cursive, font-family Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

