body {
    background-color: rgb(54, 54, 54);
}

h1 {
    font-family: 'Forum', cursive;
    font-size: 100px;
    margin: 0;
}

p{
    font-family: 'Roboto Flex', sans-serif;
}



.greeting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /*set it to fill viewport~X*/
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    /*hide anything that flows off-screen*/
    background-color: bisque;
}

.introduction-section {
    display: flex;
    padding: 5%;
    align-items: center;
    height: 80vh;
}

.introduction-section > * {
    /*use [classname + > + * to select all children]*/
    border-left: 5px solid magenta;
    Height: 60vh;
    width: 100vw;
    margin: 2rem;
}


.video-section {
    background-color: aqua;
}

.tags-section {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 24px;
    background-color: pink;
}

.tag{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    transition: background-color 250ms;
    margin: 5px;
    padding: 3px;
    /*inner space; between text and
    bg edge*/
    max-width: max-content;
    /*only make it large enough to fit
    content without wrapping a sentence*/
    border-radius: 5px;
}

.tag:hover{
    background-color: cadetblue;
}

.cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 170, 170);
}

#card{
    display: flex;
    gap: 8px;
    max-width: 250px;
    width: 100% - 20px;
}

.card{
    background-color: cadetblue;
}

* {
    overflow-x: hidden;
    /*this makes sure anything that extends
    the website in a horizontal direction,
    doesn't*/
}

